html *,
body * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding-top: 50px;
}

.header--cover {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header--button {
    color: #2997ff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.8em;
    background-color: transparent;
}

.box {
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box--00 {
    background-color: #CEFF00;
}

.box--01 {
    background-color: #66DDAA;
}

.box--02 {
    background-color: #00FF00;
}

.box--03 {
    background-color: #BA55D3;
}

.box--04 {
    background-color: #0FC0FC;
}



.animation-toscroll--button {
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
}

.animation-toscroll--up {
    bottom: 80px;
}

.animation-toscroll--down {
    bottom: 20px;
}

.animation-toscroll--active {
    opacity: 1;
    pointer-events: all;
}

.animation-toscroll--icon {
    width: 16px;
    height: 16px;
    display: block;
}

.animation-toscroll--icon-up {
    transform: rotate(180deg);
}

.animation-toscroll--icon-down {}
