html *,
body * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding: 20px;
    height: 120vh;
}

p {
    margin: 15px 0;
    line-height: 1.8em;
}



.button {
    color: #2997ff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.8em;
    margin-right: 50px;
    background-color: transparent;
}

.button:last-of-type {
    margin-right: 0;
}

.button:hover {
    text-decoration: underline;
}

.buttons--container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.hidden-switch-box--cover {
    width: 100%;
    overflow: hidden;
}

.hidden-switch-box--active {
    height: auto;
}

.hidden-switch-box--container {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}



.popup-switch-box--cover {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
}

.popup-switch-box--container {
    width: 1024px;
    padding: 20px;
    background-color: #fff;
}